*{
    font-family: "Cairo", sans-serif;
}

body{
    margin:0;
    background-color: black;
    height: 850px;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    background-color: rgb(14, 14, 14);
    padding: 2% 2% 2% 2%;
    margin: 0% 2% 0% 2%;
    color: white;
    height:100%;
}

.form-container small{
    margin-bottom:1%;
    visibility: hidden;
}

.form-row.error small{
    visibility:visible;
    color: red;
}

.form-container2,.form-row{
    width: 100%;
}

.form-container2 form{
    width: 100%;
}

.form-container2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.form-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.form-row2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.form-row input{
    width: 98%;
    margin: 2% 2% 0% 2%;
    background-color: black;
    border-width: 3px;
    border-style: solid;
    height: 2em;
    outline: none;
    padding-left: 2%;
    text-align: center;
    color:white;

}

.big{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-container button{
    background-color: white;
    color: #267DD3;
    text-decoration: none;
    border: 0;
    border-radius: 15px;
    width: 25%;
    height: 2em;
    font-size: 20px;
}

.bottom-signin{
    margin:10px 0px;
    display:flex;
    justify-content: center;
}

.signinnow{
    color: #2b7de1;
}

.plan{
    display: flex;
    justify-content: space-evenly;
}

.tnc{
    display: flex;
    justify-content: space-evenly;
}

#submit{
    width: 30%;
    font-size: 150%;
}